# Replace with personal keys
DATABASE_URL="postgresql://..."
DIRECT_URL="postgresql://..."
SUPABASE_SERVICE_ROLE_KEY=ey...
NEXT_PUBLIC_SUPABASE_ANON_KEY=ey...
NEXT_PUBLIC_SUPABASE_URL=https:...
NEXT_PUBLIC_BASE_URL=https://cidien.ca
OPENAI_API_KEY=sk-...