<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/login_form.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charter AI</title>
</head>
<body>

    <div class="container">
        <form action="/login_val" method="POST">
            <input type="text" name="charter_id" placeholder="Enter Charter ID" required>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>
