body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

.main-header {
    background: #87a96b;
    color: white;
    display:flex; 
    align-items: center;
    justify-content: space-between; /* Add this line */
    padding: 0 20px;
    position: relative;
}

.header-content{
    align-items: center;
    padding: 20px;
    text-align: center;
    margin: 0 auto;  
}


.logo img{
    height: 70px;
}



.live-link {
    color: white;
    text-decoration: underline;
    text-align: right;
    
}



/* .text1{
    margin-top: 30px;
   text-align: center;
   align-items: center;
   font-weight: bold;
   word-spacing: 2px;
   text-shadow:#87a96b;
   background-color: #87a96b;
   border-radius: 10px;
   margin-left : 75px; 
   padding: 50px;


} */



/* Hide drop.dropdown-content toggle button on larger screens */
@media only screen and (min-width: 769px) {
    .dropbtn{
        display: none;
    }

    .dropdown-content  a {
        text-decoration: none;
        color: black;
        transition: background-color 0.3s, opacity 0.3s; /* Added opacity transition */
    }
    
    
    .dropdown-content {
        display: flex;
        list-style-type: none; /* Remove default list styles */
        padding: 0;
        align-items: center;
        justify-content: space-between; /* Center the content horizontally */
    }
    
    .dropdown {
        margin-top: 40px ;
        margin-left: 150px;
        margin-right: 150px;
 
    }
    

    .text1{
       margin-top: 70px; 
       text-align: center;
       align-items: center;
       font-weight: bold;
       word-spacing: 2px;
       text-shadow:#8ebf66;
       background-color: #87a96b;
       border-radius: 10px;
       margin-left : 75px; 
       margin-right: 75px; 
       padding: 50px;
       width: 500px;
       transform: translate(45%,50%);

    
    }
}





















/* Add media query for small screens */
@media only screen and (max-width: 768px) {
    .main-header{
        position: relative;
    }
    .header-content{
        margin: 0px;
        padding: 0;
    }
    
        
    .header-content{
        padding: 20px;
        text-align: center;
        margin-left: 20px;
    }
    /* .upperbody{
        display: flex;
    } */

    .dropbtn{
        display: none;
    }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        display: flex;
        float: left;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        position:relative;
        display: flex;
        flex-direction: column;
        background-color:  #87a;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 10px;
        height: 100vh; /* Use full viewport height */
        

      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        padding-top: 50px;
        margin: 10px;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
      }

      .text1{
        color: white;
        border-radius: 5px;
        position:fixed;
        text-align: center;
        align-items: center;
        font-weight: bold;
        word-spacing: 2px;
        border-radius: 10px;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 75px;
        padding: 20px;
        margin-left: 100px;
        margin-right: 100px;
        background-color: #87a96b;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      /* Show the dropdown drop.dropdown-content on hover */
      /* .dropdown:hover .dropdown-content {
        
      } */
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }
    
}

